@{
    ViewBag.Title = "Tank Monitoring";
}

<div class="status-header-area">
    <div class="status-bar-fixed">
        <div class="status-indicator"></div>
        <div class="status-bp"></div>
        <div class="status-salinity"></div>
        <div class="status-temperature"></div>
        <div class="status-ph"></div>
    </div>
</div>
<div class="history-body-area">
    <div class="history-display">
        <div class="history-display-header"></div>
        <!-- Chart Here -->
    </div>

</div>